@model Partial_View.ViewModel.ClientViewModel

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="txtMobileNo">Mobile No:</label>
            <input id="txtMobileNo" type="text" placeholder="MobileNo" class="form-control" asp-for="ClientModel.ClientCommunication.MobileNo" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="txtEmailId">Email Id:</label>
            <input id="txtEmailId" type="text" placeholder="EmailId" class="form-control" asp-for="ClientModel.ClientCommunication.Email" />
        </div>
    </div>
</div>