@model Partial_View.ViewModel.ClientViewModel

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="txtFirstName">First Name:</label>
            <input id="txtFirstName" type="text" placeholder="FirstName" class="form-control" asp-for="ClientModel.FirstName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="txtLastName">Last Name:</label>
            <input id="txtLastName" type="text" placeholder="LastName" class="form-control" asp-for="ClientModel.LastName" />
        </div>
    </div>
</div>

